/* MAIN ELEMENTS*/
body{
    background-color: rgb(101, 200, 200);
}
header{
background-color: aqua;
}
/* flex end puts nav elements in the end but do not know how add space between them.  Justify-content may be used only once */
nav{
    display: flex;
    justify-content: flex-end;
    /*justify-content: space-around;*/
    align-items: center;
    margin-right: 5%;
}
main{
    display: flex;
    flex-wrap: wrap;

}
aside{
    background-color: darkgray;
    width: 29%;
    height: 200px;
    margin-top: 20px;
}
section{
    border-left: solid black;55 
}
img{
    width: 100px;
    height: 100px;
}
footer{
    background-color: aqua;
}


/* CLASSES */
/* line height worked for the orange body only.  duh its a class not the main element*/
.main{
    background-color: darkorange;
    width: 69%;
    height: 200px;
    margin-top: 20px;
    line-height: 40px;
}
.projects{
    display: inline-flexbox;
    flex-wrap: wrap;
}



/* ID TAGS */
/* cannot get name to be centered*/
#name{
    display: flex;
    align-items: center;
    
}

#subtitle{
    background-color: blue;
    color: white;
    WIDTH: 100%;
    height: 100px;
    line-height: 20px;
}
#first-project{
    width: 100%;
    height: 50px;
}

